@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@900&display=swap");

.container {
  padding: 0 15rem;
  margin-bottom: 5rem;
}

.home_card {
  height: 20rem;
}

.card {
  background: black;
  /* background: linear-gradient(40deg, rgba(120,115,245,1) 20%, rgba(255,110,196,1) 100%); */
  color: #fefbf3;
  border-radius: 10px;
  box-shadow: 0 5px 5px grey;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .card_title {
  font-size: 3rem;
  margin: 0.5rem 0;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  color: #fefbf3;
}

.card .card_text {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: #fefbf3;
}

.card .icon {
  font-size: 5rem;
  color: #fefbf3;
}

.home_card:hover .card_text,
.home_card:hover .icon,
.home_card:hover .card_title,
.home_card:hover {
  background-color: #e2ee7b;
  color: black;
}

.card_text {
  padding: 0 2.5rem;
}

.quote {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  font-size: 3rem;
  padding: 0 10rem;
  text-align: center;
  background-color: #19191a;
}

.quoteText {
  color: white;
}

.start {
  display: flex;
  justify-content: center;
  padding: 3rem 10rem;
  margin-bottom: 2rem;
}

.start .start_btn {
  width: 30%;
  font-size: 2rem;
  background-color: #e2ee7b;
  border-radius: 6px;
  color: black;
  transition: 0.5s;
}

.start .start_btn:hover {
  /* box-shadow: 0px 0px 5px #e2ee7b; */
  transform: scale(1.1);
}

.card_btn {
  font-size: 1.5rem !important;
  color: #7873f5 !important;
  /* border:2px solid #7873f5; */
  background-color: #fefbf3 !important;
  text-transform: none !important;
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem !important;
}

.card_btn:hover {
  background: rgb(120, 115, 245);
  background: linear-gradient(
    40deg,
    rgba(120, 115, 245, 1) 20%,
    rgba(255, 110, 196, 1) 100%
  );
  border: 0px;
  color: #fefbf3 !important;
}

.link_list {
  position: relative;
}

@media (max-width: 1100px) {
  .card_text {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0 5rem;
  }

  .start .start_btn {
    width: 50%;
    border-radius: 30px;
  }
  .start {
    padding: 3rem 5rem;
  }
  .quote {
    padding: 0 5rem;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 2rem;
  }
  .start .start_btn {
    width: 70%;
    border-radius: 30px;
  }
  .start {
    padding: 3rem 2rem;
  }
  .quote {
    padding: 0 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .home_card {
    height: 23rem;
  }
}

@media (max-width: 326px) {
  .start .start_btn {
    font-size: 1.5rem;
  }
}
