@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');

.container{
    padding: 0 10rem;
    margin-bottom:5rem;
}

.card{
    /* height:20rem; */
    background: rgb(120,115,245);
    background: linear-gradient(40deg, rgba(120,115,245,1) 20%, rgba(255,110,196,1) 100%);
    color:#FEFBF3;
    border-radius:10px;
    box-shadow: 0 5px 5px grey;
}

.card .card_title{
    font-size:3rem;
    margin: 0.5rem 0;
    font-family: 'Catamaran', sans-serif;
    font-weight:700;
}

.card .card_text{
    font-size:2rem;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
}

.card .icon{
    font-size:5rem;
}

.quote{
    display:flex;
    justify-content: center;
    margin:3rem 0;
    font-size: 3rem;
    padding: 0 10rem;
    text-align:center;
}

.quoteText{
    background: linear-gradient(to right, #7873f5 0%, #ff6ec4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.start{
    display:flex;
    justify-content: center;
    padding:3rem 10rem;
    margin-bottom:2rem;
}

.start .start_btn{
    width:30%;
    font-size:2rem;
    background: rgb(120,115,245);
    background: linear-gradient(40deg, rgba(120,115,245,1) 20%, rgba(255,110,196,1) 100%);
    border-radius: 50px;
}

.start .start_btn:hover{
    box-shadow: 0px 0px 5px black;
}

.card_btn{
    font-size:1.5rem;
    color:#7873f5;
    /* border:2px solid #7873f5; */
    background-color:#FEFBF3;
    text-transform:none;
    margin-top:1.5rem;
    margin-bottom:0.5rem;
}

.card_btn:hover{
    background: rgb(120,115,245);
    background: linear-gradient(40deg, rgba(120,115,245,1) 20%, rgba(255,110,196,1) 100%);
    border:0px;
    color:#FEFBF3;
}

@media(max-width:900px)
{
    .container{
        padding:0 5rem;
    }

    .start .start_btn{
        width:50%;
        border-radius: 30px;
    }
    .start{
        padding:3rem 5rem;
    }
    .quote{
        padding:0 5rem;
    }
}

@media(max-width:500px)
{
    .container{
        padding:0 2rem;
    }
    .start .start_btn{
        width:70%;
        border-radius: 30px;
    }
    .start{
        padding:3rem 2rem;
    }
    .quote{
        padding:0 2rem;
        font-size:2rem;
    }
}