@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,300&display=swap');

.container {
  padding: 1rem 10rem;
}

.main {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.main .main_content .main_head{
    font-size:5rem;
    margin-top:0;
    margin-bottom:1rem;
    color:#FEFBF3;
    font-family: 'Red Hat Display', sans-serif;
}

.main .main_content .main_text{
    font-size:3rem;
    margin-top:0;
    color:#FEFBF3;
    
}

.wrapper{
  background: rgb(120,115,245);
  background: linear-gradient(40deg, rgba(120,115,245,1) 20%, rgba(255,110,196,1) 100%);
}

/* color codes #ff6ec4 pink , #7873f5 purple */

@media(max-width : 900px)
{
  .main .main_content .main_head{
     font-size:4rem;
  }

  .main .main_content .main_text{
    font-size:2rem;
  }

  .container {
    padding: 1rem 5rem;
  }
}

@media(max-width:500px)
{
  .main .main_content .main_head{
    font-size:3rem;
  }
  .main .main_content .main_text{
    font-size:1.5rem;
  }

  .container {
    padding: 1rem 2rem;
  }
}

