@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");
.container {
  padding: 1rem 10rem;
}

.container_about {
  padding: 1rem 10rem;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .main_content .main_head {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fefbf3;
  font-family: "Red Hat Display", sans-serif;
}

.main .main_content .main_text {
  font-size: 3rem;
  margin-top: 0;
  color: #fefbf3;
}

.wrapper {
  background: rgb(120, 115, 245);
  background: linear-gradient(
    40deg,
    rgba(120, 115, 245, 1) 20%,
    rgba(255, 110, 196, 1) 100%
  );
}

.container {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main_text > p {
  margin: 0;
  font-size: 8rem;
  font-family: "Source Sans Pro", sans-serif;
}

.one_place {
  color: #ecf07f;
}

.you_need {
  background: linear-gradient(to right, #b7dc8e, #7a9fa5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_content_about {
}

.main_content_about > p {
  font-size: 7.5rem;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.main_content_about > span {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  position: relative;
  padding-left: 70px;
}

.main_content_about > span:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  position: absolute;
  background: black;
  left: 0;
  top: 50%;
}

.border_text {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.resource_title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 4rem;
  font-family: "Source Sans Pro", sans-serif;
}

/* color codes #ff6ec4 pink , #7873f5 purple */

@media (max-width: 900px) {
  .main .main_content .main_head {
    font-size: 4rem;
  }

  .main .main_content .main_text {
    font-size: 2rem;
  }

  .container {
    padding: 1rem 5rem;
  }
}

@media (max-width: 500px) {
  .main .main_content .main_head {
    font-size: 3rem;
  }
  .main .main_content .main_text {
    font-size: 1.5rem;
  }

  .container {
    padding: 1rem 2rem;
  }
}
