
.quote{
    display:flex; 
    justify-content: center;
    margin-top:2rem;
    margin-bottom:5rem;
    font-size: 3rem;
    padding: 0 10rem;
    text-align:center;
}

.quoteText{
    margin:0;
    background: linear-gradient(to right, #7873f5 0%, #ff6ec4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subdiv{
    display:flex;
    justify-content: center;
    align-items:baseline;
    margin-top:5rem;
    text-align:center;
}

.subject{
    font-size: 3rem;
    text-transform: uppercase;
    margin:0;
    background: linear-gradient(to right, #7873f5 0%, #ff6ec4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card{
    background: rgb(120,115,245);
    background: linear-gradient(40deg, rgba(120,115,245,1) 20%, rgba(255,110,196,1) 100%);
    color:#FEFBF3;
    border-radius:10px;
    box-shadow: 0 5px 5px grey;
    overflow:visible;
}

.card .card_title{
    font-size:3rem;
    margin: 0.5rem 0;
    font-family: 'Catamaran', sans-serif;
    font-weight:700;
    color:#FEFBF3;
}

.card .card_text{
    font-size:2rem;
    font-weight: 400;
    font-family: 'Catamaran', sans-serif;
    color:#FEFBF3;
}

.card .icon{
    font-size:5rem;
    color:#FEFBF3;
}

.card_btn{
    font-size:1.5rem !important;
    color:#7873f5 !important;
    /* border:2px solid #7873f5; */
    background-color:#FEFBF3 !important;
    text-transform:none !important;
    margin-top:1.5rem !important;
    margin-bottom:0.5rem !important;
}

.card_btn:hover{
    background: rgb(120,115,245);
    background: linear-gradient(40deg, rgba(120,115,245,1) 20%, rgba(255,110,196,1) 100%);
    border:0px;
    color:#FEFBF3 !important;
}

@media(max-width:900px)
{
    .quote{
        padding: 0 5rem;
    }
}

@media(max-width:500px)
{
    .quote{
        padding: 0 2rem;
    }
    .subject{
        font-size: 3rem;
    }
}

