.drop_list{
   width:15rem;
   position:absolute;
   list-style: none;
   text-align:start;
   background-color:black;
   padding:0; 
   left:12rem;
   top:-1rem;
}

.list_items{
    font-size:2rem;
}

.card_btn{
    font-size:1.5rem !important;
    color:#7873f5 !important;
    /* border:2px solid #7873f5; */
    background-color:#FEFBF3 !important;
    text-transform:none !important;
    margin-top:1.5rem !important;
    margin-bottom:0.5rem !important;
}

.card_btn:hover{
    background: rgb(120,115,245);
    background: linear-gradient(40deg, rgba(120,115,245,1) 20%, rgba(255,110,196,1) 100%);
    border:0px;
    color:#FEFBF3 !important;
}
